
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>04/20.27 作業四</title>
<link href="css/today.css" rel="stylesheet" type="text/css">
</head>
 
<body>
<!--header-->
<header>
	<div class="h_box">
        <!--logo-->
        <img src="images/LOGO.png" height="100px"/>
    
        <!--nav-->
        <nav>
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">FOOD</a>
					<!--Level2-->
					<ul>
						<li><a href="#">FRUIT</a>
							<!--Level3-->
							<ul>
								<li><a href="#">TOMATO</a></li>
							</ul>
						</li>
						<li><a href="#">VEGETABLE</a></li>
					</ul>
				</li>
                <li><a href="#">OTHER</a></li>
            </ul>
        </nav>
	</div>
</header>

<!--banner-->
<div class="banner" id="top">
    <div class="anitext">Earth Friendly</div>
</div>

<!--section-->
<section>
     
     <!--article 1-->
     <article>
     	<div class="picbox">
            <img src="images/v1.jpg" alt="Lactuca sativa"/>
			<div class="fadebox">
				<a href="#"><div class"linktext">MORE</div></a>
			</div>
        </div>
        
        <div class="desbox">
            <h1>萵苣 Lactuca sativa</h1>
            <p>萵苣，又名生菜、萵菜、春菜，是菊科萵苣屬之一年生或
            二年生草本植物，被人類當作蔬菜。原產於地中海一帶，
            因適應性佳而目前普及溫帶、亞熱帶地區。</p>
        </div>
     </article>
     
     <!--article 2-->
     <article>
        <div class="desbox">
            <h1>柑橘 Tangerine</h1>
            <p>柑橘是對於野生及栽培環境中各種芸香科柑橘屬之水果統稱，包含各該物種、雜交種、變種及栽培品種；
			具體而言，主要種類有柚、枸櫞、橘、柑、橙、酸橙、葡萄柚、檸檬、萊姆、和金柑等等。</p>
        </div>
	
     	<div class="picbox">
            <img src="images/v2.jpg" alt="Tangerine"/>
			<div class="fadebox">
				<a href="#"><div class"linktext">MORE</div></a>
			</div>
        </div>
     </article>
</section>

<!--aside-->
<aside>
	<a href="#top">
    	<div class="totop"></div>
    </a>
</aside>

<!--footer-->
<footer>
&copy; 此為課堂學習範例使用，請勿轉用商用。
</footer>

</body>
</html>
