<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>0323</title>
<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet"> -->
<link href="css/0323.css" rel="stylesheet" type="text/css">
</head>

<body>

<!--nav-->
<header>
    <nav>
        <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">ART WORK</a></li>
            <li><a href="#">OTHER</a></li>
        </ul>
    </nav>
</header>


<!--section-->
<section>
    <div class="left">
        <h1>About position</h1>
        <p>
            The position property specifies the type of positioning method used for an element (static, relative, absolute or fixed).
        </p>
    </div>
    <div class="right">
        <img src="images/2.png" width="100%"/>
    </div>
</section>


<!--article-->
<article>
    <div class="card">
        <img src="images/f1.png" width="100%" alt="flower"/>
        <h3>Float</h3>
    </div>
    <div class="card">
        <img src="images/f2.png" width="100%" alt="flower2"/>
        <h3>Box</h3>
    </div>
    <div class="card">
        <img src="images/f3.png" width="100%" alt="flower3"/>
        <h3>Transition</h3>
    </div>
</article>


<!--aside-->
<aside>
    <div class="wrap">
        
        <div class="tx_l">
            <img src="images/1.png"/>     
        </div>

        <div class="tx_r">
            <p>Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.圖片僅課堂練習使用，不得販售商用圖片僅課堂練習使用，不得販
            售商用圖片僅課堂練習使用，不得販售商用圖片僅課堂練習使用，不得販售商用圖片僅課堂練習使用，不得販售商用</p>
        </div>
    </div>
</aside>
    
<!--footer-->
<footer>
    &copy;All Rights Reserved. 圖片僅課堂練習使用，不得販售商用
</footer>

</body>
</html>