{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/design.css'%}">
    <link rel="stylesheet" href="{% static 'css/design-input.css'%}">
</head>
<body>
    <div class="hero1" style="position: relative;">
        <div class="login-icon2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <img src="{% static 'img/phone.png'%}">
        </div>
        <div class="form-box1" style="position: absolute; top: 35%; left: 50%; transform: translate(-50%, -50%);">
            <p class="loginwords">Log in</p>
            <form id="register" class="input-group" action ='/login/' method = 'POST'>
                {% csrf_token %}
                <p class="words1"></p>
                <p class="words1">User ID:</p>
                <input type="text" class="input-field1" name="id" place-holder="choose your user id" required>
                <p class="words1">Password:</p>
                <input type="password" class="input-field1" name="password" required="">
                <p class="words1"> </p>
                {% for message in messages %}
                <h5 class="errwords1">{{message}}</h5>
                {% endfor %}
                <button type="submit" class="submit-btn1">Log in</button>
            </form>
            <form id="register" class="input-group1">
                <p class="words1">If you Don't have an account</p>
                <p class="words1">Create your own account!</p>
                <p class="words1"></p>
                <button type="submit" class="submit-btn1"><a href="/register/" class="words2">Register</a></button>
            </form>
        </div>
    </div>

</body>
</html>


