<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="css/fontfamily.css" rel="stylesheet">
    <script type="text/javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" src="js/highcharts-more.js"></script>
    <script src="js/wordcloud.js"></script>
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>update data</title>
  </head>
  <body>
    <div class="intro color1">
        <h1 class="logo-header">
            <div class="row align-items-center justify-content-around">
                <div class="col-2 offset-1 logo"> 
                    <img src="head.jpg" class="logoimage w-100" >    
                </div>
                <div class="col-1 offset-1 logo">
                    <div class="decorate0 p-0"></div>
                </div>
                <div class="col logo">
                    <div class="logoname">
                        Update data !!!
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="decorate p-0 color1"></div>
    <div class="container-fluid h-100 fade_in">
        <div class="row  mb-2 align-items-center ">
            <div class="col-2 offset-1 "> 
                <img src="head.jpg" class="image w-100" >    
            </div>
            <div class="col-1 offset-1 ">
                <div class="decorate1 p-0"></div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="stname">
                        Update data !!!
                    </div>
                </div>
                <div class="row">
                    <div class="stid">
                        input new cellphone/rate
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-50 justify-content-around ">
            <div class="col-4 m-0 p-0">
                <div class="l_card slide_in_l" >
                    <div class="row l_tag color2 align-items-center" onclick="openMenu(3)" id="menu_bg3">
                        <div class="col-1 offset-1 l_icon" id="menu_icon1">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="col l_title"> About Me</p>
                    </div>
                    <div class="l_item hide all-tooltips color4" id="menu3">
                        
                    </div>
                </div>
                <div class="l_card slide_in_l" >
                    <div class="row l_tag color2 align-items-center" onclick="openMenu(2)" id="menu_bg2">
                        <div class="col-1 offset-1 l_icon" id="menu_icon2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="col l_title">Education</p>
                    </div>
                    <div class="l_item hide all-tooltips color4" id="menu2">
                        
                    </div>
                </div>
                
                
            </div> 
                            
            </div>
        </div>
    </div>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/welcome.js"></script>
    <script src="js/cloud.js"></script>
    <script src="js/tooltip.js"></script>

  </body>
</html>