@charset "utf-8";
/* CSS Document */

nav ul{
	list-style: none;
}

nav li{
	position:relative;
	display: inline-block;
}

/*==============level 1==============*/
nav li a{
	display:block;
	font-size:20px;
	width:150px;
	line-height:100px;
	color: rgba(9, 93, 66, 1);
	text-decoration:none;
	text-align:center;
}

nav li a:hover{
	text-decoration-line: underline;
    text-decoration-style: wavy;
}

/*==============level 2==============*/
nav li ul{
    position: absolute;
	display:none;
    left: 0;    
    margin: 0;
}

nav ul li:hover > ul{
    display: block;
}

nav ul li:hover > a{ 
    color:rgba(255, 255, 255, 1);
	background: rgba(9, 93, 66, 1);
}

nav ul ul a{
	margin:0;   
    color:rgba(255, 255, 255, 1);
	background: rgba(9, 93, 66, 1);
}

nav ul ul a:hover{
	color: rgba(9, 93, 66, 1);
	background: rgba(255, 255, 255, 1);
	text-decoration-line: underline;
    text-decoration-style: wavy;
}

/*==============level 3 and more==============*/
nav ul ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;    
    left: 100%;
}