<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>0413</title>
<link href="css/today.css" rel="stylesheet" type="text/css">
</head>
 
<body>

<!--header-->
<header id="top">
    <img src="images/LOGO.png" width="8%"/>
</header>


<!--nav-->
<nav>
    <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">ART WORK</a></li>
        <li><a href="#">OTHER</a></li>
    </ul>
</nav>



<!--section-->
<section>
    <div class="box">
        <div class="imgbox">
            <img src="images/a1.jpg" alt="work3">
        </div>

        <h3>Scale</h3>
        <p>some discriptionsome discriptionsome discriptionsome</p>

        <div class="head">
            <img src="images/2.jpg" alt="head">
            <span>2017.03.05</span>
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="images/a2.jpg" alt="work3">
        </div>

        <h3>Scale</h3>
        <p>some discriptionsome discriptionsome discriptionsome</p>

        <div class="head">
            <img src="images/2.jpg" alt="head">
            <span>2017.03.05</span>
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="images/a3.jpg" alt="work3">
        </div>

        <h3>Scale</h3>
        <p>some discriptionsome discriptionsome discriptionsome</p>

        <div class="head">
            <img src="images/2.jpg" alt="head">
            <span>2017.03.05</span>
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="images/a4.jpg" alt="work3">
        </div>

        <h3>Scale</h3>
        <p>some discriptionsome discriptionsome discriptionsome</p>

        <div class="head">
            <img src="images/2.jpg" alt="head">
            <span>2017.03.05</span>
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="images/a5.jpg" alt="work3">
        </div>

        <h3>Scale</h3>
        <p>some discriptionsome discriptionsome discriptionsome</p>

        <div class="head">
            <img src="images/2.jpg" alt="head">
            <span>2017.03.05</span>
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="images/a6.jpg" alt="work3">
        </div>

        <h3>Scale</h3>
        <p>some discriptionsome discriptionsome discriptionsome</p>

        <div class="head">
            <img src="images/2.jpg" alt="head">
            <span>2017.03.05</span>
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="images/a7.jpg" alt="work3">
        </div>

        <h3>Scale</h3>
        <p>some discriptionsome discriptionsome discriptionsome</p>

        <div class="head">
            <img src="images/2.jpg" alt="head">
            <span>2017.03.05</span>
        </div>
    </div>

</section>


<aside>
    <a href="#top">
        <div class="totop"></div>
    </a>
</aside>

</body>
</html>

